#dagre-svg {
    width: 100%;
    overflow: hidden;
    user-select: none;
}


.node rect, ellipse {
    fill: #fff;
    stroke-width: 1px;
    stroke:#333;
}

.node rect.label-container {
    rx: 5;
    ry: 5;
}
.nodeitem text {
        cursor: auto;
}


/* .nodeitem-0 ellipse.label-container {
    
} */

/* node type为data  */
.nodeitem-3 rect.label-container {
    stroke: none;
}

.cluster rect {
    fill: #eee;
    fill-opacity: 0.6;
    stroke-width: 1px;
    stroke:#333;
}
.cluster .label {
    font-style: italic;
}

.my-label text {
  text-anchor: middle;
  /* dominant-baseline: middle; */
  cursor: pointer;
}

.edgePath path {
  stroke: #333;
  fill: none;
}