#dagre-svg {
  width: 100%;
  overflow: hidden;
  user-select: none;
}

/* 悬停加粗边框 */
.node.highlighted >g>rect{
  stroke-width: 2px;
}
.node.highlighted >g>circle{
  stroke-width: 2px;
}

.nodetype-1, .nodetype-2 {
  cursor: pointer;
}

/* 默认节点样式 group node*/
.node .label-container {
  fill: white;
  stroke-width: 1px;
  stroke:#999999;
  rx: 10;
  ry: 10;
}

.node .label-container.focus{
  stroke-width: 3px;
  stroke:blue;
}

.node-label text {
  fill: #333;
  text-anchor: middle;
  font-size: 14px;
}
.node.auxiliary .node-label{
  opacity: 0;
}
.node.auxiliary .label:hover + .node-label{
  opacity: 1;
}

/* 默认边样式 */
.edgePath path {
  stroke: #999999;
  fill: none;
}


/* 背景 */
.bg-rect {
  fill: white;
}

/* operation node */
.nodetype-0 text{
  font-size: 10px;
}
.nodetype-0 .label-container {
  fill: #fff;
  rx: 15;
  ry: 5;
}

.nodetype-1 text {
  fill: #333;
}

/* data node */
.nodetype-3 text {
  font-size: 10px;
}
.nodetype-3 .label-container {
  fill: white;
}

/* input output */
.datatype-0 .label-container, .datatype-1 .label-container {
  rx: 5;
  ry: 5;
  stroke-width: 2px;
}


/* 展开的聚合节点 */
.cluster .label-container {
  fill: #b2b2b2;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke:#c7c7c7;
}
.cluster text {
  font-style: italic;
}

.cluster.layertype-FC rect {
  fill: #b2b2b2;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke:#c7c7c7;
}
.cluster.layertype-FC text {
  fill: #333;
}
.cluster.layertype-FC line {
  stroke: none;
}
.cluster.layertype-FC circle {
  stroke: #c7c7c7;
}

.cluster.layertype-CONV rect {
  fill: #f0f0f0;
  /* fill-opacity: 0.2; */
  stroke-width: 1px;
  stroke:#c7c7c7;
}
.cluster.layertype-CONV text {
  fill: #333;
}

.cluster.layertype-RNN rect {
  fill: #b2b2b2;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke:#c7c7c7;
}
.cluster.layertype-RNN text {
  fill: #333;
}
.cluster.layertype-OTHER rect {
  fill: #b2b2b2;
  fill-opacity: 0.2;
  stroke-width: 1px;
  stroke:#c7c7c7;
}
.cluster.layertype-OTHER text {
  fill: #333;
}

/* 选中样式 */
.selected .label-container {
  fill: #5d83be;
  stroke: #333;
}
.selected text {
  fill: white;
}
.selected.nodetype-0 text, .selected.nodetype-3 text {
  fill: #5d83be;
}
.selected.nodetype-1.layertype-CONV rect {
  fill: #5d83be;
  stroke: #333;
}
.cluster.selected.nodetype-1.layertype-CONV rect {
  fill-opacity: 0.2;
}
.selected.nodetype-1.layertype-FC rect {
  fill: #5d83be;
  stroke: #333;
}
.selected.nodetype-1.layertype-FC circle {
  stroke: #333;
}
.selected.nodetype-1.layertype-RNN rect {
  fill: #5d83be;
  stroke: #333;
}

.selected.nodetype-1.layertype-OTHER rect {
  fill: #5d83be;
  stroke: #333;
}
.minimap-container {
  position: fixed;
  background-color: #fff;
  border: 1px solid #e6ebf5;
}

.module-hole {
  fill: #fff;
  stroke: #333;
}
.moduleEdgePath path {
  /* stroke: #ea7575; */
  fill: none;
}

.in-module-node-hole circle {
  fill: #fff;
  stroke: #333;
}

.in-module-node-hole path {
  /* stroke: #ea7575; */
  fill: none;
  stroke-width: 2px;
}

.out-module-node-hole circle {
  fill: #fff;
  stroke: #333;
}
.out-module-node-hole path {
  /* stroke: #ea7575; */
  fill: none;
  stroke-width: 2px;
}

.hiddenEdges path {
  fill: none;
  stroke: #afafaf;
  stroke-width: 2px;
  stroke-opacity: 0.5;
}

.hover-transparent {
  opacity: 0.4;
}