.lineChart-container {
  height: 300px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  /* width: 100%; */
  /* background-color: brown */
}

.area {
  clip-path: url(#clip);
}

.zoom {
  /* cursor: move; */
  fill: none;
  pointer-events: all;
}

.snapshot-grid .tick {
  stroke: lightgrey;
  opacity: 0.2;
}

.DetailInfoContainer {
  border: 1px solid green;
  border-radius: 5%;
  padding: 1px;
  background-color: black;
  opacity: 0.5;
}

.dfsdfdot {
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  /* display: inline-block; */
}