.lineChart-container {
    height: 300px;
    width: 100%;
    /* background-color: brown */
}
.area {
    clip-path: url(#clip);
}
.zoom {
    cursor: move;
    fill: none;
    pointer-events: all;
}
