@import "../../CSSVariables/CSSVariables.less";

@StrokeAndWidth: {
  stroke: #999999;
  stroke-width: 1px;
  rx: 5;
  ry: 5;
};

@rectFocused: {
  stroke: @focus_node_stroke_color;
  stroke-width: 2px;
};
@rectStart:{
  stroke: @start_node_stroke_color !important;
  stroke-width: 2px !important;
}
@rectEnd:{
  stroke: @end_node_stroke_color !important;
  stroke-width: 2px !important;
}

.nodeitem-1 rect.FC-layer-label-container {
  fill: @fc_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.FC-layer-label-container.focus {
  @rectFocused();
}
.nodeitem-1.startNode rect.FC-layer-label-container {
  @rectStart();
}
.nodeitem-1.endNode rect.FC-layer-label-container {
  @rectEnd();
}

/* conv */
.nodeitem-1 rect.CONV-layer-label-container {
  fill: @conv_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.CONV-layer-label-container.focus {
  @rectFocused();
}
.nodeitem-1.startNode rect.CONV-layer-label-container {
  @rectStart();
}
.nodeitem-1.endNode rect.CONV-layer-label-container {
  @rectEnd();
}

/* RNN */
.nodeitem-1 rect.RNN-layer-label-container {
  fill: @rnn_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.RNN-layer-label-container.focus {
  @rectFocused();
}
.nodeitem-1.startNode rect.RNN-layer-label-container {
  @rectStart();
}
.nodeitem-1.endNode rect.RNN-layer-label-container {
  @rectEnd();
}

/* other */
.nodeitem-1 rect.OTHER-layer-label-container {
  fill: @other_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.OTHER-layer-label-container.focus {
  @rectFocused();
}
.nodeitem-1.startNode rect.OTHER-layer-label-container {
  @rectStart();
}
.nodeitem-1.endNode rect.OTHER-layer-label-container {
  @rectEnd();
}