@import "../../CSSVariables/CSSVariables.less";

@StrokeAndWidth: {
  stroke: #999999;
  stroke-width: 1px;
  rx: 5;
  ry: 5;
};

@rectFocused: {
  stroke: @focus_node_stroke_color;
  stroke-width: 2px;
};

.nodeitem-1 rect.FC-layer-label-container {
  fill: @rnn_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.FC-layer-label-container.focus {
  @rectFocused();
}

/* conv */
.nodeitem-1 rect.CONV-layer-label-container {
  fill: @conv_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.CONV-layer-label-container.focus {
  @rectFocused();
}

/* RNN */
.nodeitem-1 rect.RNN-layer-label-container {
  fill: @rnn_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.RNN-layer-label-container.focus {
  @rectFocused();
}

/* other */
.nodeitem-1 rect.OTHER-layer-label-container {
  fill: @other_layer_bg_color;
  @StrokeAndWidth();
}

.nodeitem-1 rect.OTHER-layer-label-container.focus {
  @rectFocused();
}
