.info-card {
  margin: 10px 0 0 10px;
  overflow-y: scroll;
  max-height: 250px;
}

.info-card.root {
  opacity: 0.9;
  position: fixed;
  overflow-y: scroll;
  top: 100px;
  right: 30px;
  width: 350px;
  max-height: 200px;
}

.Grid {
  display: flex;
  padding: 25;
}

.Grid-cell {
  flex: 1;
  text-align: left;
  word-wrap: break-word;
  word-break: break-all;
}