@import "../../CSSVariables/CSSVariables.less";
@public_url: "PUBLIC_URL";
@iconSize: 12px;

@IconsStyle: {
  content: "";
  background-size: @iconSize @iconSize;
  width: @iconSize;
  height: @iconSize;
  position: absolute;
  left: -17px;
  top: 2px;
}

#elk-svg {
  width: 100%;
  overflow: hidden;
  user-select: none;
  fill: white;
}

// .nodeitem-1.layertype-FC text::before {
//   background: url("@{public_url}/assets/FcIcon.svg");
//   @IconsStyle();
// }

// .nodeitem-1.layertype-CONV text::before {
//   background: url("@{public_url}/assets/ConvIcon.svg");
//   @IconsStyle();
// }

// .nodeitem-1.layertype-RNN text::before {
//   background: url("@{public_url}/assets/RnnIcon.svg");
//   @IconsStyle();
// }

// .nodeitem-1 .my-label text {
//   position: relative;
//   left: 8px;
// }

/* 路径模式节点高亮 */
.node.startNode.expanded-node rect.elk-label-container {
  stroke-width: 2px !important;
  stroke: @start_node_stroke_color  !important;
}

.node.startNode .elk-label-container {
  stroke-width: 2px !important;
  stroke: @start_node_stroke_color  !important;
}

.node.startNode circle {
  stroke: @start_node_stroke_color  !important;
}

.node.startNode .label-container {
  stroke-width: 3px !important;
  stroke: @start_node_stroke_color  !important;
}

.node.endNode.expanded-node rect.elk-label-container {
  stroke-width: 2px !important;
  stroke: @end_node_stroke_color  !important;
}

.node.endNode .elk-label-container {
  stroke-width: 2px !important;
  stroke: @end_node_stroke_color  !important;
}

.node.endNode circle {
  stroke: @end_node_stroke_color  !important;
}

.node.endNode .label-container {
  stroke-width: 3px !important;
  stroke: @end_node_stroke_color  !important;
}

.node {
  rect {
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }

  ellipse {
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }

  circle {
    fill: #fff;
    stroke-width: 1px;
    stroke: #000;
  }
}

.node rect.elk-label-container {
  rx: 5;
  ry: 5;
}

.nodeitem text {
  cursor: auto;
}

rect.behind-text {
  opacity: 1;
}

.node.expanded-node rect.elk-label-container {
  fill: #fff6ef;
  fill-opacity: 1;
  stroke-width: 2px;
  stroke: #999999;
}

.node.expanded-node rect.elk-label-container.focus {
  stroke-width: 2px;
  stroke: @focus_node_stroke_color;
}

.node.child-node rect.elk-label-container.hovered {
  stroke-width: 2px;
  stroke: #eb9c58;
  box-shadow: 5px 5px #eb9c58;
}

.node .elk-label-container.focus {
  stroke-width: 2px;
  stroke: @focus_node_stroke_color;
}

.node circle.focus {
  stroke: @focus_node_stroke_color;
}

/* 选中样式 */

.selected .elk-label-container {
  fill: @selected_node_fill_color;
  stroke: @selected_node_stroke_color;
}

.selected .CONV-layer-label-g rect {
  fill: @selected_node_fill_color;
  stroke: @selected_node_stroke_color;
}

.selected .FC-layer-label-g rect {
  fill: @selected_node_fill_color;
  stroke: @selected_node_stroke_color;
}

.selected .RNN-layer-label-g rect {
  fill: @selected_node_fill_color;
  stroke: @selected_node_stroke_color;
}

.selected .OTHER-layer-label-g rect {
  fill: @selected_node_fill_color;
  stroke: @selected_node_stroke_color;
}

.cluster rect {
  fill: #eee;
  fill-opacity: 0.6;
  stroke-width: 1px;
  stroke: #333;
}

.cluster .label {
  font-style: italic;
}

.my-label text {
  text-anchor: middle;
  cursor: pointer;
  fill: #333;
}

.my-label .label {
  padding: 5px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edgePath .hover {
  /* stroke: ; */
  stroke-width: 2;
  fill: none;
}

.edgePath path {
  stroke: #000;
  /* stroke-width: 1; */
  fill: none;
}

.moduleEdge path {
  stroke: #5488ad;
  stroke-width: 3;
  stroke-linecap: round;
  fill: none;
}

.edgePath circle {
  stroke: #999999;
  fill: #999999;
}

.behind-text {
  stroke: none !important;
}

.highlightPath path {
  stroke: #993399 !important;
  stroke-width: 2px !important;
  marker-end: url(#arrowheadHighlighted) !important;
}

:export {
  iconSize: @iconSize;
}

.minimap-container {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border: 1px solid #e6ebf5;
}

.textTooltip {
  position: absolute;
  text-align: left;
  padding: 2px;
  background: #fff;
  border: 2px;
  border-radius: 8px;
  pointer-events: none;
}