.activationOrGradient-grid .tick {
  stroke: lightgrey;
  opacity: 0.2;
}

.layerLevel-lineChart-checkbox {
  align-items: center;
  /* overflow: hidden; */
}

.layerLevel-lineChart-container {
  position: relative;
}