.layer-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.layer-container-box {
    /* background-color: #eea303; */
    border-radius: 5px;
}

.detail-box {
    grid-column: 1 / 5;
    grid-row: 1;
}

.cluster-box {
    grid-column: 5;
    grid-row: 1;
}

.line-box {
    grid-column: 1/6;
    grid-row: 2;
}

.return-button {
    width: 24px;
}

.MuiSvgIcon-root {
    cursor: pointer;
    transition: color 2s;
    -webkit-transition: color 2s;
}

.MuiSvgIcon-root:hover {
    color: #eea303;
}

.iteration {
    margin: 0 auto;
}

.activation {
    display: inline-block;
}

.cluster-circle {
    fill: #388aac;
}

/* 
.tsne-cluster {
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: inline-block;
} */

.layerLevel-lineChart-zoom {
    /* cursor: move; */
    fill: none;
    pointer-events: all;
}

.layerLevel-detailInfo-yAxisLine {
    stroke: black;
    stroke-width: 2;
    opacity: 0.2;
}

.layerLevel-detailInfo-zoom {
    fill: none;
    pointer-events: all;
    z-index: 5;
}

.layerLevel .area {
    clip-path: url(#layerLevel-clip);
}

.layerLevel .area.outsidePart {
    fill: #69b3a2;
    opacity: 0;
    stroke: none;
}

.layerLevel .area.outsidePart.hovered {
    fill: #eea303;
    opacity: 0.5;
    stroke: none;
}

.layerLevel .zoom {
    /* cursor: move; */
    fill: none;
    pointer-events: all;
}

path.layerLevel-detailInfo-area {
    fill: none;
    pointer-events: stroke;
    opacity: 0.4;
    stroke-width: 1;
    position: relative;
}

path.layerLevel-detailInfo-area.hovered {
    opacity: 1;
    stroke-width: 4;
    position: relative;
}

.layerLevel-cluster-graph {
    margin: 5px;
    box-shadow: 0 0 0 1px rgb(204, 204, 204);
}

rect.layerLevel-detailInfo-bg {
    fill: #000000;
    opacity: 0.1;
}

rect.layerLevel-detailInfo-bg.hovered {
    fill: #000000;
    opacity: 0.2;
}

rect.layerLevel-detailInfo-bg.clicked {
    fill: #000000;
    opacity: 0.3;
}

.layer-container .grid .tick {
    opacity: 0.2;
}