.layer-container {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.layer-container-box {
    background-color: #eea303;
    border-radius: 5px;
}

.detail-box {
    grid-column: 1 / 5;
    grid-row: 1;
}

.cluster-box {
    grid-column: 5;
    grid-row: 1 ;
}

.line-box {
    grid-column: 1/6;
    grid-row: 2;
}

.return-button {
    width: 24px;
}

.MuiSvgIcon-root {
    cursor: pointer;
    transition: color 2s;
    -webkit-transition: color 2s;
}

.MuiSvgIcon-root:hover {
    color: #eea303;
}

.iteration {
    margin: 0 auto;
}

.activation {
    display: inline-block;
}

.tsne-cluster {
    border: 1px solid rgba(0, 0, 0, 0.12);
    display: inline-block;
}

.layerLevel-lineChart-zoom {
    /* cursor: move; */
    fill: none;
    pointer-events: all;
}